<nav>
    <a class="button" 
      routerLink="home"
      routerLinkActive="activebutton"
      ariaCurrentWhenActive="page">
      Home
    </a> 
        <a class="button" 
          routerLink="transactions"
          routerLinkActive="activebutton"
          ariaCurrentWhenActive="page">
         Transaction
        </a>
        <a class="button" 
          routerLink="add-credit-card"
          routerLinkActive="activebutton"
          ariaCurrentWhenActive="page">
         Add creditcard
        </a>
</nav>   

<router-outlet></router-outlet>